.InstCard {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    height: 7.5rem;
    width: 20rem;
    max-width: 100%;
  }
   
  .InstInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    gap: .5rem;
    line-height: 0.01rem;
    font-family: 'Prompt';
    font-size: 0.9rem;
    height: 100%;
    width: 70%;
  }
  
  .inst-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    height: 50%;
    font-size: 1rem;
    margin-top: .7rem;
  }
  
  .label{
    height: 20%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  .span{
    height: 30%;
    font-size: 1rem;
  }
 

.inst-icon {
  width: 5.5rem
}

.trash-can-icon--container-Inst{
  display: flex;
  flex-direction: column;
  height: 90%;
  width:20%;
}

.trash-can-icon-Inst{
  height: 2rem;
  width: 2rem;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 4rem;
} 

.trash-can-icon-Inst:hover{
  transform: scale(1.2);
  color: red;
}
