.unique-user-main--container {
  height: 100vh;
  width: 100vw;
}

.unique-user-card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.unique-user--card {
  height: 50%;
  width: 35%;
  border-radius: 0.5rem;
  background: linear-gradient(
    213.28deg,
    #dae8fbeb 2.43%,
    rgba(205, 226, 255, 0.615) 95.17%
  );
  border-top: 1px solid rgba(0, 0, 0, 0.209);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), 0px 4px 4px rgba(0, 0, 0, 0.339),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-card--heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.084), 0px 4px 4px rgba(0, 0, 0, 0.107),
    0px 4px 4px rgba(0, 0, 0, 0.083);
}

.user-card-heading {
  display: flex;
  font-size: 1.5rem;
  color: #2a3577;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
}

.user-card-name {
  border-right: 1px solid #0000003f;
}

.user-card-info--separation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.user-card-info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  height: 80%;
  width: 50%;
  margin-left: 2rem;
  gap: 1.5rem;
}

.user-card-insts--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  height: 80%;
  width: 50%;
  gap: 1rem;
}
.user-institutions-container {
  overflow: auto;
  width: 80%;
  height: 60%;
}

.user-institution--li {
  font-size: 1rem;
  color: rgb(61, 61, 61);
  line-height: 1.5rem;
  width: 100%;
}

.unique-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 20%;
}

.unique-user-card--label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #7a89fd;
}

.unique-user-card--info {
  font-size: 1.1rem;
}

.user-card-edit-button--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.user-card-edit--button {
  border: none;
  background: linear-gradient(
    270deg,
    #6f81ff 0%,
    rgba(124, 139, 254, 0.65) 100%
  );
  color: rgb(212, 211, 211);
  transition: all 0.4s;
  border-radius: 0.2rem;
}

.user-card-edit--button:hover {
  transform: scale(1.1);
  color: #fff;
  border-radius: 0.2rem;
}
