.home-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.welcome-text__container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home_welcome-heading{
    display: flex;
    justify-content: center;
    height: 30%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 4rem;
    color:#2B0549;
    font-weight: 0;

}

.parag{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin: 0;
}

.parag-styled{
    margin-left: 10px;
    color: #2B0549;
}

.home_welcome_parag-1{
    font-size: 2.5rem;
}

.home_welcome_parag-2{
    font-size: 1.5rem;

}
.home_welcome_images-container{
    display: flex;
    height: 94%;
    width: 100%;
}

.char-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.char-container::before{
  content: "";
  position: absolute;
  width: 100%;
  padding: 1rem;
  height: 100%;
  top: -10%;
  left: 5%;
  z-index: -1;
  background: url('./../../assets/img/chars_background.svg');
  background-repeat: no-repeat;
}

.home_welcome_thesis_char::before{
    top: -20%;
    transform: rotate(320deg);
}


.home_img-char{
    height: 30rem;
    width: 30rem;
}








#element2, #element3
{
  width: 12em;
  font-size: 2em;
  text-align: center;
  line-height: 5em;
  margin: 3em auto;
  border: 2px solid #666;
  border-radius: 7px;
}
#element2, #element3
{
  position: relative;
  overflow: hidden;
}

#element2:before
{
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/background.png) 0 0 repeat;
}

#element2:before
{
  transform: rotate(30deg);
}