@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html,body, #root{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Prompt', sans-serif;;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
