.user--card {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  height: 8rem;
  width: 20rem;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.user-info--container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}
.user--icon{
    height: 100%;
    width: 30%;
}
.info--content{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
}
.user-info--label{
    font-weight: bold;
}