.icons-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
}
.icon--container{
    margin: 1rem 1rem 0 0;
    height: 100%;
    width: 10%;
}

.icon{
    height: 2rem;
    width: 2rem;
}